body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

h1 {
  color:black;
  text-align: center;
}
 
img {
 margin: auto;
 text-align: center;
}

figcaption {
  text-align: center;
  font-size: 12px;
}
p#featured-property{
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: center;
}

div{
  background-color: red;
  text-align: center;
  float:left;
  width: 25%;

}

